body{
    background: #D6CEC3;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 60vh;
    height: 80vh;
    margin: 100px auto 0;
    padding-left: 50px;
    background:#F6F1EB ;
    /*border-top: 2px solid #E0B378;*/
    border-top: 2px solid orange;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    /*border: solid red 1px;*/
    margin: 20px 0 0 10px;
}

.avatar{
    border-radius: 50%;
    border: 3px solid black;
    /*margin: 1px;*/
}

.image{
    border-radius: 50%;
    border: 2px solid orange;
    padding: 3px 3px 0px 3px;
    /*margin: 2px;*/
}
.name{
    font-size: 30px;
    font-weight: bold;
}

.profession{
    font-size: 20px;
}
.menu{
    display: flex;
    justify-content: flex-end;
    gap:15px;
    margin: 20px 20px 10px 0;
}
.hr-line{
    border-bottom: 2px solid black;
}
